- title "Broadcast Playlist"

%p
  %strong Date:
  = @broadcast_playlist.date
%p
  %strong Description:
  = @broadcast_playlist.description
%p
  %strong Playlist:
  = @broadcast_playlist.playlist

  
        
= render :partial => "broadcast_playlists/playlists", :locals => { :broadcast_playlists => @broadcast_playlists, :broadcast => @broadcast }
