%h1 Strona internetowego radia
%p
  Możliwości
  %ul
    %li Ankiety
    %li Wyszukiwarka utworów
    %li ramówka
    %li player?

%p
  Ostatnio dodane:
  %ul
    %li Lista przebojów
    %li Dodawanie audycji przez administratora
    %li Konta Administratorów, Prezenterów, Słuchaczy
    %li Prezenter aktualizuje informacje o swjeje audycji (zapowiedzi, playlisty, ogólny opis audycji)
    %li Komentarze do audycji
    %li Artykuły, Newsy, Wywiady na stronie głównej
    %li
      =# link_to  "Dodawanie opisu i daty archiwalnej audycji (javascript - datepicker)", new_broadcast_broadcast_archive_path(1)
      
