- title I18n.t "Broadcasts"

#container
  - for i in 0..6
    #broadcast-container
      %table
        %tr
        %th=number_to_day_name(i)
        - for broadcast in @days[i]
          %tr
            %td= link_to broadcast.name, broadcast
  %div.clearer
