- title "Surveys"

%table
  %tr
    %th Question
  - for survey in @surveys
    %tr
      %td= survey.question
      %td= link_to 'Show', survey
      %td= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Survey", new_survey_path
