- title "Admin panel"
%p
  =link_to "Songs", songs_path
%p
  =link_to "Charts", charts_path
%p
  =link_to "New broadcast show", '/admin/broadcasts/new'
%p
  =link_to "Surveys", surveys_path
%p
  =link_to "Admin dashboard", rails_admin_dashboard_path
